<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

	<!-- INICIO CONTENEDOR -->
	<div layout:fragment="contenedor">

		<div class="pagetitle">
			<h1>Usuarios</h1>
		</div>
		<hr>
		<a th:href="@{/nuevousuario}">
			<button type="button" class="btn btn-primary mb-1">Nuevo</button><br><br>
		</a>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"></h5>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nombre</th>
							<th scope="col">Correo</th>
							<th scope="col">Rol</th>
							<th scope="col">Teléfono</th>
							<th scope="col">Contraseña</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuarios:${datosUsuario}">
							<td th:text="${usuarios.id_usuario}"></td>
							<td th:text="${usuarios.nombre_usu}"></td>
							<td th:text="${usuarios.correo}"></td>
							<td th:text="${usuarios.rol_usu}"></td>
							<td th:text="${usuarios.telefono}"></td>
							<td th:text="${usuarios.contrasena_usu}"></td>

							<td>
								<a th:href="@{/actualizarusuario/}+${usuarios.id_usuario}">
									<button type="button" class="btn btn-warning mb-1">Editar</button>
								</a>
								<a th:href="@{/eliminarusuario/}+${usuarios.id_usuario}"
									onclick="return confirm('¿Seguro que desea eliminar el registro?');">
									<button type="button" class="btn btn-danger mb-1">Eliminar</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- FIN CONTENEDOR -->
</html>